.dashboard{
    display: flex;
    justify-content: space-around;
    margin-top: 9px;
    margin-bottom: -2px;
}

.title{
    min-height: 90px;
    width: 200px;
    text-align: center;
    font-size: larger;
    font-weight: bold ;
    font-style: oblique;
    padding: 12px;
    
    border: 2px solid lightblue;
    border-radius: 10px;
}
p{
    padding: 2px;
}